body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  background-color: #1F2937;
  color: white;
  padding: 16px 150px;
}

.links {
  display: flex;
  color: white;
  gap: 16px;


}

ul {
  flex: 1 auto;
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 16px;
}

li {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.intro {
  padding: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: white;
  gap: 100px;
  flex-wrap: wrap;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.main-img {
  flex: 1 0 0;
  min-width: 250px;
}

.image {
  width: 150px;
  max-height: auto;
}

.image img {
  border-radius: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.images {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.random {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 100px;
}

.testimonial {
  background-color: lightgray;
  padding: 150px;
  font-style: italic;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5em;
}

.author {
  text-align: end;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
}

.quote {
  margin: auto;
  width: 50vw;

}

.call2action {
  padding: 150px;

}

.content {
  border-radius: 5px;
  background-color: #3882F6;
  padding: 40px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 100px;
  padding: 10px;
  background-color: #3882F6;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  color: white;
  margin: 10px;
}

.signup button {
  border-color: #3882F6;
}

.footer {
  background-color: #1F2937;
  color: white;
  font: 10px;
  text-align: center;
  padding: 24px;
}